@charset "utf-8";

@keyframes menu_hover_ani {
	
	from{background-color:#000000;}
	to{background-color:#222222;}
	
}

.menu {background-color:black;width:100%;height:40px;} 
.menu_element {height:100%;width:33.33%;padding:10px 0px;background-color:#000000;text-align:center; float:left;}
.menu_element a{color:white;text-decoration:none;width:100%;height:100%;display:block;}

.bottom_menu {
	background-color:black;
	width:100%;
	
} 

.menu_element:hover {
	
	backround-color:relative;
	animation-name:menu_hover_ani;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:ease-out;
	animation-fill-mode:both;
	animation-delay:1s;
	
}
.example_square:hover {
	
	backround-color:relative;
	animation-name:menu_hover_ani;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:ease-out;
	animation-fill-mode:both;
	animation-delay:1s;
	
}
.bottom_menu_element:hover {
	
	backround-color:relative;
	animation-name:menu_hover_ani;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:ease-out;
	animation-fill-mode:both;
	animation-delay:1s;
	
}

.bottom_menu_element {
	width:33.333333%;
	padding:10px 0px 20px;
	background-color:black;
	text-align:center;
	float:left;
	margin-bottom:10px;
	height:40px;
}

.bottom_menu_element a{
	color:white;
	text-decoration:none;
	width:100%;
	height:100%;
	display:block;
}

.container{
	
	font-family:"Helvetica";
	position:relative;
	padding-top:10px;
	padding-bottom:10px;
	top:10px;
	
}

.container .code {
	
	border-radius:2px;
	background-color:#DDDDFF;
	padding-left:2px;
	
}

h4, p {
	
	display:table;
	
}

h1, h4 {
	
	color:#444;
	
}

h1 {
	
	text-shadow: 1px 1px 2px #000000; 
	
}

.examples{
	
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap:10px;
	grid-auto-rows: minmax(150px,20vh);
	width:100%;
	
}

.example_square{
	
	width:100%;
	padding:10px 0px;
	background-color:black;
	text-align:center; 
	float:left;
	
}

.example_square a{
	
	color:#FFFFFF;	
	text-decoration:none;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:10;
	display:block;
	line-height:125px;
	
}



