@charset "utf-8";

html{
  background-image: linear-gradient(0deg, #afeeee 0%, #094479 97%, #444444 100%); min-height:100%;
}

@keyframes menu_hover_ani {
	
	from{background-color:#000000;}
	to{background-color:#222222;}
	
}

.menu {background-color:black;width:100%;height:40px;} 
.menu_element {height:40px;width:calc(100%/6);padding: 10px 0px;background-color:#000000;text-align:center; float:left;}
.menu_element a{color:white;text-decoration:none;width:100%;height:100%;display:block;}

.menu_element:hover {
	
	backround-color:relative;
	animation-name:menu_hover_ani;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:ease-out;
	animation-fill-mode:both;
	animation-delay:1s;
	
}

.container{
	
	font-family:"Helvetica";
	position:relative;
	padding-top:10px;
	top:10px;
	
}

.container img{
	
	float:right;
	
}

.img_container {
    position: relative;
}

.container_gruppebilde img {
	
	padding-top:10px;
	padding-right:10px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	max-width:50%;
	height:50vh;
	float:left;
	
}

.bildetekst {
    position: absolute;
    top: 26px;
    left: 16px;
    font-size: 18px;
    color: white;
}

.container_gruppebilde .text_field {
	font-family:"Helvetica";
	
}

.download{
	
	position:relative;
	bottom:10px;
	width:100px;
	height:30px;
	background-color:#000000;
	
}

.download:hover {
	
	backround-color:relative;
	animation-name:menu_hover_ani;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:ease-out;
	animation-fill-mode:both;
	animation-delay:1s;
	
}

.download a{
	
	z-index:2;
	text-align:center;
	text-decoration:none;
	line-height:30px;
	color:#FFFFFF;
	width:100%;
	height:100%;
	display:block;
	
}

h1, h2, h3 {
	
	text-shadow: 1px 1px 2px #000000; 
	
}


h1 {
	color:#444444;

}

h2 {
	color:#444444;
}

h3 {
	color:#444444;
}

.likerTabell{
	
	text-align:center;
	border-collapse: collapse;
	width:450px;
	color:#222;
}

.experienceTable{
	
	text-align:center;
	border-collapse: collapse;
	width:450px;
	color:#222;
	cellspacing:0px;
}

tr{
	border:none;
}

th{
	border-right: solid 1px #444444;
	border-left: solid 1px #444444; 
}
th:first-of-type{
	border-left: solid 0px;
}
th:last-of-type{
	border-right: solid 0px;
}

tr:nth-child(odd){
	background-color:#ccc;
}
tr:nth-child(even){
	background-color:#eee;
}
td{
	border-right: solid 1px #444444;
	border-left: solid 1px #444444; 
}
td:first-of-type{
	border-left:solid 0px;	
}
td:last-of-type{
	border-right: solid 0px;
}
.paragrafer{
	padding-top:20px;
	width:50%;
	color:#222;
}
