@charset "utf-8";

.container {
	
	padding:10px;
	
}
.img_container {
    position: relative;
}

.container img {
	
	padding-top:10px;
	padding-right:10px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:50%;
	height:50vh;
	float:left;
	
}

.bildetekst {
    position: absolute;
    top: 26px;
    left: 16px;
    font-size: 18px;
    color: white;
}

.container .text_field {
	font-family:"Helvetica";
	
}